
.wrapper{
    background: white !important;
}
.menu-mobile{
    display: none ;
    .logo {
        background: url('../../image/UNIMARK\ LOGO.png') !important;
        transition: all 0.3s ease-in;
        width: 125px;
        height: 28px;
        margin: auto;
        background-size: 125px 28px;
        background-position: 0 0;
        background-repeat: no-repeat;
      }
      .logo:hover {
        background: url('../image/Path\ 12.png');
        background-size: 31px 28px;
        background-position: center center;
        background-repeat: no-repeat;
      }
    
   ul{
   
    display: flex !important;
    flex-direction: column !important;
    list-style: none !important;

    gap: 30px;
    li{
        svg{
            font-size: 25px;
        }
        
        
        
           
        
        a{
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.2rem;
            position: relative;
      
        &:not(:nth-child(3)):hover{
            color: #D70000 !important;

        }
        &:last-child():hover{
            color: black;

        }
       
           
        }
         
    
       .logo-1{
        display: none;
       }
        
    }
   }

}
.home{
    background:url('../../../image/Layer\ 6.png') ;
    background-size: cover;
     background-size:cover;
     color: white;
    position: relative;
    // background: url('../images/theme-photos-CGpifH3FjOA-unsplash.png');
    background: white !important;
    color: black !important;
    background-size:100%;
   background-position: center;
    background-repeat: no-repeat;
   
  max-width: 100%;
  max-height: 100%;
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    // background-color: rgba(238, 238, 238, 0.407);
  }
  .container-fluid{
    padding: 0;
    margin: 0;
    .row{
        h2{
            color: white;
        }
        .content{
            width: 100%;
            z-index: 4;
            h3{
                color: #323543;
                font-weight: bolder;
            }
            p{
                font-weight: 500;
                max-height: 100px;
                overflow: auto;
                scroll-behavior: smooth;
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;
                
            }
            p::-webkit-scrollbar { 
                display: none;  /* Safari and Chrome */
            }
        }
    }
    .space{
        max-height: 100%;
        button{
          
            background-color: #D70000;
            
           padding: 3px 5px;
            border: none;
            
            font-size: .6rem;
            position: relative;
            color: #EDEDED;
            z-index: 5;
    
            &::after{
                content: '';
                position: absolute;
                width: 0;
                height: 100%;
                background-color: transparent;
                left: 0;
                bottom: 0;
                transition: .5s;
                z-index: -1;
              

            }
            &:hover::after{
                width: 100%;
                height: 100%;
                background-color:#EDEDED ;
                transition: .5s;
                z-index: -1;
                

            }
            &:hover{
                color: #D70000;
            }
        }
    }
    img{
        max-width: 100%;
        max-height: 100%;
    }
  }
}