



@media (min-width:320px)  { 
    .headtitle {
        font-weight: normal;
        font-size: 2rem;}
    .carsoul{
        max-height: 200px;
        background-size: contain;
     
    } 
    .parent-carsoul{
        padding-top: 0;
        padding-bottom: 0;
    }
    .slick-slide p{
        font-size:.4rem !important;
    }
    .slick-slide h1{
        font-size:1rem !important;
    }
    .slick-slide h4{
        font-size: .7rem !important;
    }
    .carsoul .content{
        transform: translateY(-42%);
    }
    .arrow {
        transform: translate(-53%,-44%) !important;
        }
    .arrow img{
        width: 80% !important;
    }
    .cover img {
        transform: translate(94%,-15%) !important;
        max-width: 35% !important;
    }

    .button .all .top {
        
        transform: translateY(30px);}
        .carsoul button:not(:disabled):nth-child(1), .carsoul [type=button]:not(:disabled):nth-child(1), .carsoul [type=reset]:not(:disabled):nth-child(1), .carsoul [type=submit]:not(:disabled):not(.slick-dots button):nth-child(1) {
            right: 22%;
            top: -15%;
        transform: rotate(360deg);
        }
    /* smartphones, iPhone, portrait 480x320 phones */ 
    .carsoul button:not(:disabled), .carsoul [type=button]:not(:disabled), .carsoul [type=reset]:not(:disabled), .carsoul [type=submit]:not(:disabled):not(.slick-dots button) {
       
        font-size: 14px !important;}
        .button .all .top svg{
            font-size: 14px !important;
        }

}
@media (min-width:441px) {
    .carsoul button:not(:disabled), .carsoul [type=button]:not(:disabled), .carsoul [type=reset]:not(:disabled), .carsoul [type=submit]:not(:disabled):not(.slick-dots button) {
       
        font-size: 20px !important;}
        .button .all .top svg{
            font-size: 20px !important;
        }
}

@media (min-width:641px)  {
    .headtitle {
        font-weight: normal;
        font-size: 4rem !important;}
    .cover img {
        transform: translate(93%,-29%) !important;
    
    
    }
    .carsoul{
        max-height: 200px;
        background-size: cover !important;
     
    } 
    .parent-carsoul{
        padding: 100px 0 !important;
    }
   .carsoul button:not(:disabled):nth-child(1), .carsoul [type=button]:not(:disabled):nth-child(1), .carsoul [type=reset]:not(:disabled):nth-child(1), .carsoul [type=submit]:not(:disabled):not(.slick-dots button):nth-child(1) {
            right: 29%;
        
        }
        .carsoul button:not(:disabled), .carsoul [type=button]:not(:disabled), .carsoul [type=reset]:not(:disabled), .carsoul [type=submit]:not(:disabled):not(.slick-dots button) {
       
            font-size: 29px !important;}
            .button .all .top svg{
                font-size: 29px !important;
            }
        .slick-slide p{
            font-size:.9rem !important;
        }
        .slick-slide h1{
            font-size:1.5rem !important;
        }
        .slick-slide h4{
            font-size: 1rem !important;
        }
     /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
     }
 @media (min-width: 1025px) { 
        /* big landscape tablets, laptops, and desktops */
    
        .carsoul{
            max-height: 370px !important;
        } 
        .slick-slide p{
            font-size:1rem !important;
        }
        .slick-slide h1{
            font-size:2.3rem !important;
        }
        .slick-slide h4{
            font-size: 1.5rem !important;
        }
        .button .all .top {
    
            left: 50% !important;
            transform: translateY(120px) !important;
        }
        .carsoul button:not(:disabled):nth-child(1), .carsoul [type=button]:not(:disabled):nth-child(1), .carsoul [type=reset]:not(:disabled):nth-child(1), .carsoul [type=submit]:not(:disabled):not(.slick-dots button):nth-child(1) {
            
            top: 28% !important;
        }
    }
@media (min-width:1281px){


}
@media (max-width:1412px){
  
    .traingale img:first-child {
       
        left: -11%;} 
        .traingale img:nth-child(3) {
          
            right: -11%;}

}
@media (max-width:1318px){
  
    .traingale img:first-child {
       
        left: -13%;} 
        .traingale img:nth-child(3) {
          
            right: -13%;}

}
@media (max-width:1112px){
   
  
    .traingale img:first-child {
       
        left: -14%;}
        .traingale img:nth-child(3) {
          
            right: -14%;} 
        

}
@media (max-width:1087px){
   
  
    .traingale img:first-child {
       
        left: -16%;}
        .traingale img:nth-child(3) {
          
            right: -16%;} 
        

}
@media (min-width:961px)  { 
    .carsoul{
        min-height: 370px;
        max-height: 370px !important;
    } 
    .carsoul .content{
        transform: translateY(-50%) !important;
    }

    .arrow{
       
        transform: translate(-54%,-50% ) !important;
    }
    .arrow img{
        width: 80% !important;
    }
   
    .cover img {
        max-width: 28% !important;
        max-height: 35% !important;
        left: 11% !important;
        top: -10% !important;
        transform: translate(128%,-32%) !important;
    }

    .button .all .top {
        
        left: 49%;
    top: 50%;
    transform: translateY(50px);}
        .carsoul button:not(:disabled):nth-child(1), .carsoul [type=button]:not(:disabled):nth-child(1), .carsoul [type=reset]:not(:disabled):nth-child(1), .carsoul [type=submit]:not(:disabled):not(.slick-dots button):nth-child(1) {
            right: 34%;}
    /* smartphones, iPhone, portrait 480x320 phones */ 



    /* smartphones, iPhone, 

    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
}


