.wrapper {
  background: white !important;
}

.home {
  position: relative;
  background-color: white !important;
  color: black !important;
  max-width: 100%;
  max-height: 100%;
}
.home .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.home .container-fluid {
  padding: 0;
  margin: 0;
}
.home .container-fluid .row .content {
  width: 100%;
  z-index: 4;
}
.home .container-fluid .row .content h3 {
  color: #323543;
  font-weight: bolder;
}
.home .container-fluid .row .content p {
  font-weight: bold;
  max-height: 130px;
  overflow: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.home .container-fluid .row .content p::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.home .container-fluid .space {
  max-height: 100%;
}
.home .container-fluid .space button {
  background-color: #D70000;
  padding: 3px 5px;
  border: none;
  font-size: 0.6rem;
  position: relative;
  color: #EDEDED;
  z-index: 5;
}
.home .container-fluid .space button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: transparent;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}
.home .container-fluid .space button:hover::after {
  width: 100%;
  height: 100%;
  background-color: #EDEDED;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}
.home .container-fluid .space button:hover {
  color: #D70000;
}
.home .container-fluid img {
  max-width: 100%;
  max-height: 100%;
}